<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" , initial-scale="1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
      integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.4.2/d3.js"
      integrity="sha512-c1CuuvAJrV5Tf0jpwRgeeM6rA5v1/kv7eEzkIO6ARsKq2X9O3GCVGMRUJ76zh/plXad4cq0MYG02TyuXRhM4OQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.js"
      integrity="sha512-MNW6IbpNuZZ2VH9ngFhzh6cUt8L/0rSVa60F8L22K1H72ro4Ki3M/816eSDLnhICu7vwH/+/yb8oB3BtBLhMsA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"
      integrity="sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <title>Locations</title>
  </head>
  <body>
    <div class="wrapper">
      <p><b>From</b>:</p>
      <input type="date" name="fromDate" id="fromDate" />
      <p><b>To</b>:</p>
      <input type="date" name="toDate" id="toDate" />
    </div>
    <div class="float-container">
      <div class="float-child-small">
        <input
          type="checkbox"
          class="myCheckbox"
          id="am"
          value="Angela Merkel"
          checked
        /><label for="am">Angela Merkel</label>
      </div>
      <div class="float-child-small">
        <input
          type="checkbox"
          class="myCheckbox"
          id="bs"
          value="Bernie Sanders"
          checked
        /><label for="am">Bernie Sanders</label>
      </div>
      <div class="float-child-small">
        <input
          type="checkbox"
          class="myCheckbox"
          id="bj"
          value="Boris Johnson"
          checked
        /><label for="am">Boris Johnson</label>
      </div>
      <div class="float-child-small">
        <input
          type="checkbox"
          class="myCheckbox"
          id="em"
          value="Emmanuel Macron"
          checked
        /><label for="am">Emmanuel Macron</label>
      </div>
      <div class="float-child-small">
        <input
          type="checkbox"
          class="myCheckbox"
          id="ja"
          value="Jacinda Ardern"
          checked
        /><label for="am">Jacinda Ardern</label>
      </div>
      <div class="float-child-small">
        <input
          type="checkbox"
          class="myCheckbox"
          id="jt"
          value="Justin Trudeau"
          checked
        /><label for="am">Justin Trudeau</label>
      </div>
      <div class="float-child-small">
        <input
          type="checkbox"
          class="myCheckbox"
          id="tm"
          value="Theresa May"
          checked
        /><label for="am">Theresa May</label>
      </div>
    </div>
    <div class="float-container">
      <div
        class="float-child-big"
        id="vizcontainer"
        style="padding: 20px; margin: 20px"
      ></div>
    </div>
    <div class="float-container">
      <div
        class="float-child-big"
        id="listcontainer"
        style="padding: 20px; margin: 20px"
      ></div>
    </div>

    <script type="text/javascript" src="visuals.js"></script>
  </body>
</html>
